/* global */

* {
  box-sizing:border-box;
}

@font-face {
 font-family: 'Raleway', sans-serif;
/* webfont only used as dropback font since Avant Garde looks much better */
}

body {
 font: 15px 1.5 "Avant Garde", 'Raleway',sans-serif;
 padding: 0;
 margin: 0;
 background-color: rgb(255,255,255);
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

a img:hover {
  -webkit-transform: scale(1.08,1.08);
}

/* global footer */

.footer {
  width: 100%;
  font: 16px 1.5 Walbaum, Bodoni, serif;
  color: rgb(0,0,0);
  padding-bottom:20px;
  padding-top: 10px;
  min-height:70px;
  display: inline;
}

.footer #facebook {
  text-align: right;
  margin-right:125px;
}

.footer #instagram {
  text-align: right;
  margin-right: 2px;
}

.footer nav {
  float: right;
  display: inline;
  margin-bottom: 10px;
  margin-top: 50px;
}

.footer nav #facebook {
  position: relative;
  top:-5px;
}

.footer nav #instagram {
  position: relative;
  top:1px;
}

.footer #copyright {
  float: left;
  margin-left: 105px;
  margin-right: 60px;
  margin-top: 80px;
}

.footer img {
  overflow: visible;
  height: auto;
}

/* global header */

.header {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  padding-top: 20px;
  min-height:70px;
  margin-bottom: 80px;
  margin-top: 10px;
  /*position: fixed; liegt im hintergrund, wie ordnet man das nochmal zu?*/
}

.header a{
  color: rgb(0,0,0);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.header ul{
  padding: 0;
  margin: 0;
}

.header li{
  float: left;
  display:inline;
  padding: 20px 12px 3px 20px;
}

.header #branding{
  float:left;
  margin-bottom: 5px;
}

.header nav{
  float:right;
  margin-top: 12px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.header #branding h1{
  margin: 0;
}

.header .highlight, .header .selected a{
  color: rgb(255, 112,77);
  font-weight: bold;
}

#logo {
  position: relative;
  top:10px;
  right:2px;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-right: 10px;
}

.header a:hover{
  color: rgb(110,110,110);
  font-weight: bold;
}

#branding {
  font: auto 1.0 Walbaum, Bodoni, serif;
}

.container ul{
  position: relative;
  top:13px;
}

.containerimages img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px;
  max-width: 850px;
}

ul{
  margin: 0px;
  padding: 0px;
}

/* index-site */

section {
  font: auto 1.5 "Avant Garde",Avenir,sans-serif;
  margin-bottom: 30px;
  position: relative;
  bottom: 20px;
}

.headerindex {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  padding-top: 20px;
  min-height:70px;
  margin-top:0;
  position: relative;
  top: -20px;
}

.headerindex a {
  font-size: 20px;
}

.headerindex a:hover{
  color: rgb(110,110,110);
  font-weight: bold;
}

#asterisk {
  font-size: 28pt;
  padding: 0px;
  margin: 0px;
  color: rgb(255, 112, 77);
  text-decoration: none;
}

#asterisk:hover {
  color: rgb(110,110,110);
  font-weight: bold;
}

.subtext {
  font-size: 25pt;
}

.buttons a, .buttons h4 {
  margin-top: 60px;
  margin-bottom: 50px;
  text-decoration: none;
  text-align: center;
  color: rgb(255,112,77);
  font-size: 14pt;
  font-weight: bold;
}

.buttons a{
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 112,77);
  padding: 12px 15px;
  background-color: rgb(255, 255,255);
}

.buttons a:hover {
  color: rgb(110,110,110);
  border-color: rgb(110,110,110);
}


/* explain-site */

.subtextexplain {
  font-size: 22pt;
  margin-top: 55px;
}
/* portfolio-site "work" */

.projects {
  text-align: center;
  margin: 15px auto;
}

.projects p {
  margin-bottom: 80px;
}

.main {
  margin-top: 100px;
}

/* about-site */

#imgfeuerbach {
  width: 400px;
  height: auto;
  overflow: hidden;
  margin-top: 21px;
  /* weird number to make sure it is the same height as border on contact page */
}

#feuerbach{
  color: rgb(0,0,0);
  margin-bottom: 20px;
  text-decoration: none;
}

#feuerbach a{
  text-decoration: none;
  color: inherit;
  margin-top: 25px;
  margin-bottom: 65px;
}

#feuerbach a:hover{
  color: rgb(110,110,110);
}

.cv{
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
  text-align: left;
  height: auto;
}

.cv li {
  list-style: none;
}

.cvlinks{
  font-weight: bold;
  margin-bottom: 10px;
}

.cvlinks a {
  text-decoration: none;
  color: rgb(255,112,77);
}

.cvlinks a:hover {
  color: rgb(110,110,110);
}

.cvtext {
  font-weight: lighter;
  margin-bottom: 15px;
  font-size: 15px;
}

.cvhead {
  font-weight: bold;
  margin-top: 55px;
}

.containerabout { /*NOT NEEDED ANYMORE, BUT NEED "N CLASS"
TO Arrange PHOTOT WITHOUT MARGIN AND TEXT WITH 20X MARGIN ON EACH SIDE*/
  width: 80%;
  height: auto;
  margin: inherit;
}

/* contact-site */

.contact{
height: auto;
width: 400px;
margin: 0 auto;
margin-bottom: 50px;
text-align: left;
border-style: solid;
border-width: 2px;
border-color: rgb(255,112,77);
padding: 20px 30px;
}

.contact li {
  list-style: none;
}
