/* global angewendete sachen*/
* {
  box-sizing:border-box;
}

@font-face {
  /* webfont reinladen und auf ganzes dokument anwenden */

}

a img:hover {
  -webkit-transform: scale(1.05,1.05);
}

body{
  padding: 0;
  margin: 0;
  background-color: rgb(255,255,255);
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container ul{
  position: relative;
  top:13px;
}

.containerimages {
  min-width: 200px;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0px;
  padding: 0px;
}

section {
  font: 15px 1.5 "Avant Garde", 'Raleway',sans-serif;
}

/*styling header */
.header {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  padding-top: 20px;
  min-height:70px;
  font-family: "Walbaum 12 Walbaum**", Bodoni, serif;
  margin-bottom: 80px;
  margin-top: 10px;
}

.header a{
  color: rgb(0,0,0);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.header ul{
  padding: 0;
  margin: 0;
}

.header li{
  float: left;
  display:inline;
  padding: 20px 12px 3px 20px;
}

.header #branding{
  float:left;
  margin-bottom: 5px;
}

.header nav{
  float:right;
  margin-top: 12px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.header #branding h1{
  margin: 0;
}

.header .highlight, .header .selected a{
  color: rgb(255, 112,77);
  font-weight: bold;
}

#logo {
  position: relative;
  top:10px;
  right:2px;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-right: 10px;
}

.header a:hover{
  color: rgb(110,110,110);
  font-weight: bold;
}

#branding {
  font: auto 1.0 Walbaum, Bodoni, serif;
}

.containerimages img {
  /*min-width: 500px;*/
  overflow: visible;
  height: 420px;
}

/* main, alle Bilder und Beschreibung */

.projects {
  text-align: center;
  margin: 15px auto;
}

.projects p {
  margin-bottom: 80px;
}


/* footer styling */
.footer {
  width: 100%;
  font: 16px 1.5 Walbaum, Bodoni, serif;
  color: rgb(0,0,0);
  padding-bottom:20px;
  padding-top: 10px;
  min-height:70px;
  display: inline;

}

.footer #facebook {
  text-align: right;
  margin-right:125px;
}

.footer #instagram {
  text-align: right;
  margin-right: 2px;
}


.footer nav {
  float: right;
  display: inline;
  margin-bottom: 10px;
  margin-top: 50px;
}

.footer nav #facebook {
  position: relative;
  top:-5px;
}

.footer nav #instagram {
  position: relative;
  top:1px;
}

.footer #copyright {
float: left;
margin-left: 105px;
margin-right: 60px;
margin-top: 80px;
}

.footer img {
  overflow: visible;
  height: auto;
}
