/* global angewendete sachen*/
body{
  /*font: 15px 1.5 "Avant Garde",Avenir,sans-serif;*/
  /*
  used shortcut instead
  font-family: "Avant Garde", Avenir, sans-serif;
  font-size: 15px;
  line-height: 1,5;
  */
  padding: 0;
  margin: 0;
  background-color: rgb(215,215,215);
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;

}

ul{
  margin: 0px;
  padding: 0px;
}

section {
  font: 15px 1.5 "Avant Garde",Avenir,sans-serif;
}

/*styling header */
header {
  background-color: rgb(190,190,190);
  color: rgb(255, 255, 255);
  padding-top: 20px;
  min-height:70px;
  border-bottom: rgb(255,255,255) 2px solid;
  border-top:rgb(255,255,255) 2px solid;
/* Farbe neongelb heraussuchen als Signal und Auszeichnungsfarbe, mehrere Graustufen verwenden?*/
  font: 16px 1.5 Walbaum, Bodoni, serif;
}

header a{
  color: rgb(255,255,255);
  text-decoration: none;
  font-size: 16px;
}

header ul{
  padding: 0;
  margin: 0;
}

header li{
  float: left;
  display:inline;
  padding: 20px 15px 3px 20px;
}

header #branding{
  float:left;
  margin-bottom: 5px;
}

header nav{
  float:right;
  margin-top: 12px;
  margin-right: 30px;
}

header #branding h1{
  margin: 0;
}

header .highlight, header .selected a{
  color: rgb(255, 255, 158);
  font-weight: bold;
}

#asterisk {
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

#asterisk:hover {
  color: rgb(120,120,120);
  font-weight: bolder;
}

header a:hover{
  color: rgb(120,120,120);
  font-weight: bold;
}

#branding {
  font: auto 1.0 Walbaum, Bodoni, serif;
}

/* showcase, wenn zwischendurch etwas dazu packen will, dann 33:00*/

img {
  min-width: 700px;
  overflow: visible;
  height: auto;
}

/* main, alle Bilder und Beschreibung + die jeweiligen Links,
hover-Optionen auch hier mit reinpacken */

.projects {
  text-align: center;
  margin: 15px auto;
}
