/* global angewendete sachen*/
* {
  box-sizing:border-box;
}

body{
  /*font: 15px 1.5 "Avant Garde",Avenir,sans-serif;*/
  /*
  used shortcut instead
  font-family: "Avant Garde", Avenir, sans-serif;
  font-size: 15px;
  line-height: 1,5;
  */
  padding: 0;
  margin: 0;
  background-color: rgb(255,255,255);
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.containerimages {
  min-width: 200px;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0px;
  padding: 0px;
}

section {
  font: 15px 1.5 "Avant Garde",Avenir,sans-serif;
}

/*styling header */
header {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  padding-top: 20px;
  min-height:70px;
/*  border-bottom: rgb(255,255,255) 2px solid;
  border-top:rgb(255,255,255) 2px solid;*/
/* Farbe neongelb heraussuchen als Signal und Auszeichnungsfarbe, mehrere Graustufen verwenden?*/
  font-family: "Walbaum 12 Walbaum**", Bodoni, serif;
}

header a{
  color: rgb(0,0,0);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

header ul{
  padding: 0;
  margin: 0;
}

header li{
  float: left;
  display:inline;
  padding: 20px 12px 3px 20px;
}

header #branding{
  float:left;
  margin-bottom: 5px;
}

header nav{
  float:right;
  margin-top: 12px;
  margin-right: 30px;
}

header #branding h1{
  margin: 0;
}

header .highlight, header .selected a{
  color: rgb(255, 112,77);
  font-weight: bold;
}

#asterisk {
  font-size: 50px;
  padding: 0px;
  margin: 0px;
  /* old color :color: rgb(255, 255, 158);*/
  color: rgb(255, 112, 77);
}

#asterisk:hover {
  color: rgb(110,110,110);
  font-weight: bold;
}

header a:hover{
  color: rgb(110,110,110);
  font-weight: bold;
}

#branding {
  font: auto 1.0 Walbaum, Bodoni, serif;
}

/* showcase, wenn zwischendurch etwas dazu packen will, dann 33:00*/

img {
  min-width: 700px;
  overflow: visible;
  height: auto;
}

/* main, alle Bilder und Beschreibung + die jeweiligen Links,
hover-Optionen auch hier mit reinpacken */

.projects {
  text-align: center;
  margin: 15px auto;
}

.hidden {
  height:200px;
  width:100%;
  display: none;
  /* why is this not seperating the last post from the footer?*/
}

/* footer styling */
footer {
  width: 100%;
  font: 16px 1.5 Walbaum, Bodoni, serif;
  /*background-color: rgb(190,190,190);*/
  color: rgb(0,0,0);
  padding-bottom:20px;
  padding-top: 10px;
  min-height:70px;
  text-align: left;
  display: inline;

}

.footer #facebook {
  text-align: right;
  float: right;
  margin-right: 65px;

}

.footer #copyright {
float: left;
margin-left: 105px;
margin-right: 70px;
}

body .footer {
margin-top: 80px;
}
